.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 600px; 
  justify-content: center;
  margin-top: 60px; 
  margin-bottom: 60px; 
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  border: 7px solid #fff;
  border-radius: 28px;
  background: linear-gradient(145deg, #f0f0f0, #d8d8d8); 
  transition: transform 0.5s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.profile:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.3);
  background-color: #e5e5e5;
}

.description {
  text-align: center;
  margin-bottom: 24px; 
  animation: fadeIn 0.5s ease-out;
}

.avatar {
  border-radius: 60%;
  background-color: rgb(53, 53, 53);
  width: 250px;
  height: 250px;
  margin: 15px auto 30px auto; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease, border-radius 50% 20% 20% 50%;
}

.avatar:hover {
  transform: rotate(20deg); 
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.name {
  font-size: 3.2rem; 
  font-weight: bold;
  margin-bottom: 20px; 
  color: #000000;
  animation: slideIn 0.5s ease-out;
  transition: color 0.3s ease;
}

.tag {
  font-size: 2.8rem;
  color: rgb(137, 130, 122);
  margin-bottom: 16px;
}

.location {
  font-size: 2.6rem; 
  color: #4b4b4b;
  margin: 0;
  opacity: 0.7;
  transition: color 0.3s ease, opacity 0.3s ease;
}

.location:hover {
  color: #3b82f6;
  opacity: 1;
}

.stats {
  display: flex;
  width: 100%;
  border-top: 6px solid #4b4949;
  background-color: #b0afaf;
  border-radius: 0 0 20px 20px;
  animation: slideUp 0.5s ease-out;
}

.statsItem {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-height: 150px; 
  position: relative;
  border-right: 6px solid #4b4949;
  padding: 16px; 
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease, border-radius 12px;
  border-radius: 12px;
}

.statsItem:last-child {
  border-right: none;
}

.statsItem:hover {
  background-color: #3b82f6;
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.label {
  font-size: 1.4rem;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 8px; 
  letter-spacing: 1px;
}

.quantity {
  font-size: 2.0rem; 
  font-weight: bold;
  color: #000000;
  position: relative;
  overflow: hidden;
}

